@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p>Navigate to the following Entities:</p>

<ul style="padding:10px">
    <li style="padding:5px">
        <form asp-area="" asp-controller="AudioStorages" asp-action="Index"><button class="btn-primary">Audio Storage</button></form>
    </li>
    <li style="padding:5px">
        <form asp-area="" asp-controller="Genres" asp-action="Index"><button class="btn-primary">Genre</button></form>
    </li>
    <li style="padding:5px">
        <form asp-area="" asp-controller="Musicians" asp-action="Index"><button class="btn-primary">Musician</button></form>
    </li>
    <li style="padding:5px">
        <form asp-area="" asp-controller="Albums" asp-action="Index"><button class="btn-primary">Album</button></form>
    </li>
    <li style="padding:5px">
        <form asp-area="" asp-controller="Tracks" asp-action="Index"><button class="btn-primary">Tracks</button></form>
    </li>
</ul>
