@model AspMusicStore.Models.Track

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Track</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TrackID" />
            <div class="form-group">
                <label asp-for="TrackTitle" class="control-label"></label>
                <input asp-for="TrackTitle" class="form-control" />
                <span asp-validation-for="TrackTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrackLyrics" class="control-label"></label>
                <input asp-for="TrackLyrics" class="form-control" />
                <span asp-validation-for="TrackLyrics" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Musicians" class="control-label"></label>
                <select asp-for="SelectedMusicians" class="form-control" asp-items="ViewBag.MusicianIDs" multiple="multiple"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
