@model IEnumerable<AspMusicStore.Models.Rating>

@{
    ViewData["Title"] = "Ratings";
}

<h1>Ratings</h1>
@*
    BEST TRACK STATISTIC
*@
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

          var data = google.visualization.arrayToDataTable([
            ['Tracks', 'Rating',],
    @foreach (var item in Model.DistinctBy(x => x.TrackID))
    {
        <text>
                            ['@item.Track.TrackTitle', @item.Track.TrackRating],
        </text>
    }

          ]);
          data.sort({column: 1, desc: true})

          var options = {
            title: 'Best Tracks',
            chartArea: {width: '50%'},
            hAxis: {
              title: 'Total Rating',
              minValue: 0
            },
            vAxis: {
              title: 'Track'
            }
          };

        var chart = new google.visualization.BarChart(document.getElementById('trackChart_div'));

          chart.draw(data, options);
        }

</script>

<div class="row">
    <div class="col-lg-12">
        <div id="trackChart_div" style="width:1000px;heightL350px"></div>
    </div>
</div>